<div class="cointainer-fluid">

    <div class="row d-flex justify-content-center rowContact">

        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-3 col-xl-4">

            <% if(typeof mensaje !== "undefined") { %>

            <h3>Gracias por contactarte!</h3>
            <p><%=mensaje%></p>
            <% } else { %>

                <form action="contact/send" method="POST" class="contactForm">

                <div class="">

                    <input type="text" name="nombre" class="" placeholder="Nombre" required>
                </div>

                <div class="">
                    <input type="text" name="empresa" class="" placeholder="Empresa">
                </div>

                <div class="">
                    <input type="email" name="email" class="" placeholder="Correo" required>
                </div>

                <div class="">
                    <input type="text" name="telefono" class="" placeholder="Telefono">
                </div>

                <div class="">
                    <textarea rows="6" name="mensaje" placeholder="Escriba su consulta..." required></textarea>
                </div>

                <button id="buttonContact" type="submit">Enviar</button>

            </form>

            <% } %>

        </div>

        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-3 col-xl-3 colContact">    

            <div class="row d-flex justify-content-center">
                <h3>Contacto</h3>
                <img class="imgContact" src="/images/contacto.jpg">
                <ul class="ulContact">
                    <li><i class="fa fa-phone"></i> 54 (11) 5494-6262</li>
                    <li><i class="fa fa-envelope"></i> claravisconti@hotmail.com </li>
                </ul>
            </div>

            <div class="row d-flex justify-content-center">
                <a href="https://www.facebook.com/claraviscontidg/" class="contact-link"><i
                        class="fab fa-facebook"></i></a>
                <a href="#" class="contact-link"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/mariaclaravisconti/" class="contact-link"><i
                        class="fab fa-linkedin"></i></a>
            </div>

        </div>

    </div>

</div>