<div class="cointainer-fluid">

    <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6 col-xl-6 d-flex justify-content-center">
            <ul>
                <li><i class="fa fa-user"></i> Maria Clara Visconti </li>
                <li><i class="fa fa-phone"></i> 54 (11) 5494-6262</li>
                <li><i class="fa fa-envelope"></i> claravisconti@hotmail.com </li>
            </ul>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6 col-xl-6">

            <h3>Contacto</h3>

            <% if(typeof mensaje !== "undefined") { %>
            <p><%=mensaje%></p>
            <% } else { %>

            <form action="contact/send" method="POST">

                <div class="">
                    <input type="text" name="nombre" class="" placeholder="Nombre" required>
                </div>

                <div class="">
                    <input type="text" name="empresa" class="" placeholder="Empresa">
                </div>

                <div class="">
                    <input type="email" name="email" class="" placeholder="Correo" required>
                </div>

                <div class="">
                    <input type="text" name="telefono" class="" placeholder="Telefono">
                </div>

                <div class="">
                    <textarea rows="4" name="mensaje" placeholder="Escriba su consulta..." required></textarea>
                </div>

                <button id="buttonContact" type="submit">Enviar</button>

            </form>

            <% } %>

        </div>

    </div>

</div>