<div class="cointainer-fluid containerHeader">
  
  <div class="row rowHeader d-flex justify-content-end">
    
       <a href="#" id="logoIndex"></a>

      <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-7 rowNavegador">

        <nav class="navbar navbar-expand-lg">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <ul class="navbar-nav">

              <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Proyectos</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Servicios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Editorial</a>
                  <a class="dropdown-item" href="#">Marcas</a>
                  <a class="dropdown-item" href="#">Packaging</a>
                  <a class="dropdown-item" href="#">Señalética</a>
                  <a class="dropdown-item" href="#">Stands</a>
                  <a class="dropdown-item" href="#">Web</a>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
              </li>

            </ul>

            <form class="form-inline">
              <input class="formHeader" type="search" placeholder="Buscar..." aria-label="Search">
              <button type="submit"><i class="fas fa-search"></i></button>
            </form>
          </div>

        </nav>

      </div>
    </div>
  </div>
