<div class="cointainer-fluid containerProdIndex">

  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">

      <div class="indexProdDesc position-relative">
 
          <h4>¿Queres ver mas sobre mis proyectos?</h4>
          <p>Me especializo en diferentes areas del diseño grafico como: diseño web, diseño institucional, diseño de packaging, diseño publicitario, diseño de stands y  señalética.  </p>
     
      </div>

      <div class="indexProdImg">
        <img src="/images/prueba.jpg">
      </div>

    </div>

  </div>