.containerHeader {
  max-height:600px;
  height:320px;
}

#logoIndex {
  width: 220px;
  height:220px;
  border-radius: 255px;
  position: relative;
  left: -330px;
  top: 57px;
}

.rowHeader {
  background: no-repeat url("/images/header.png");
  background-size: cover;
  width:100%;
  height:100%;
 }

 .rowNavegador {
   padding: 3% 0 0 0;
 }

 /*Nav*/
 .nav-link:link, .nav-link:active, .nav-link:visited {
   color:white;
   font-size: 1em;
   text-transform:uppercase;
}

.dropdown-item:link,.dropdown-item:active, .dropdown-item:visited {
  color:white;

}

.show, .nav-link:hover {
  border-radius: 5px;
  background-color: #69B5AC;
  border: none;
}

.dropdown-item:hover {
  border-radius: 5px;
  background-color: #61ACA5;
  border: none;
}

/*Search*/

.form-inline {
  margin-left: 25px;
}

.formHeader, .formHeader:focus {
  max-width: 180px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #53918A;
  outline: none;
}

#buttonSearch {
 margin-left: 2px;
 font-size: 1.1em;
 background-color: #53918A;
 color:white;
 border: none;
 border-radius: 50%;
}

/*Media*/
@media (max-width: 1024px) {

   /*Nav*/
 .nav-link:link, .nav-link:active, .nav-link:visited {
  color:white;
  font-size: 0.8em;
  text-transform:uppercase;
}
 
}